<!DOCTYPE html>
<html ng-app="FSharpWebKit" ng-controller="HomePageController">
<head>
    <title ng-bind="models.helloAngular"></title>
</head>
<body>
    <input type="text" ng-model="models.helloAngular" />
    <h1>{{models.helloAngular}}</h1>
    <ul>
        <li><a href="/#/routeOne">Route One</a></li>
        <li><a href="/#/routeTwo/3">Route Two</a></li>
        <li><a href="/#/routeThree">Route Three</a></li>
    </ul>

    <ul>
        <li><a href="/#/login">Login</a></li>
        <li><a href="/#/register">Register</a></li>
    </ul>

    <div ng-view></div>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/FSharpWebKit")
</body>
</html>
