<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @for (var i = 0; i < ViewBag.Donuts; i++)
        {
            <p>Mmm, donuts...</p>
        }
    </div>
</body>
</html>
